!!! 5
%html
  %head
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %title Youtiao
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

%body
  .ui.large.attached.borderless.menu#main-menu
    .ui.container
      = link_to t('home'), root_path, class: 'item'
      = link_to t('about'), page_path('about'), class: 'item'
      .right.menu
        %a.item= t 'help'
        - if user_signed_in?
          .item
            = link_to t('sign_out'), destroy_user_session_path, method: :delete, class: 'ui button'

  = yield

  .ui.vertical.footer.segment
    .ui.center.aligned.container
      .ui.section.divider
      .ui.stackable.grid
        .centered.column
          %p 
            %span Made with
            %i.icon.heart.red
            %span by Youtiao
          %small Copyright 2015, Youtiao Inc.
